@page "/managers"

@using System.Net.Http.Json
@using Management.Domain.Models
@inject IManagerService _managerService
@inject HttpClient httpClient

<MudTable Items="@ApplicationUsers" Dense="@dense" Hover="@hover" Bordered="@bordered" Striped="@striped">

    <ToolBarContent>
        <MudText Typo="Typo.h6">Periodic Elements</MudText>
        <MudSpacer />
        <MudTextField @bind-Value="searchString" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
    </ToolBarContent>

    <HeaderContent>
        <MudTh>Email</MudTh>
        <MudTh>Family Name</MudTh>
        <MudTh>Given Name</MudTh>
        <MudTh>Member Since</MudTh>
        @*<MudTh> Role </MudTh>*@
        <MudTh>Department</MudTh>
        <MudTh>Department Number</MudTh>
        <MudTh>Email Confirmed</MudTh>
    </HeaderContent>

    <RowTemplate>
        <MudTd DataLabel="Email">@context.Email</MudTd>
        <MudTd DataLabel="Family Name">@context.FamilyName</MudTd>
        <MudTd DataLabel="Given Name">@context.GivenName</MudTd>
        <MudTd DataLabel="Member Since">@context.MemberSince</MudTd>
        @*<MudTd DataLabel="Role">@context.Role</MudTd>*@
        <MudTd DataLabel="Department">@context.Department</MudTd>
        <MudTd DataLabel="Department Number">@context.DepartmentNumber</MudTd>
        <MudTd DataLabel="Email Confirmed">@context.EmailConfirmed</MudTd>
    </RowTemplate>

    <PagerContent>
       @* <MudTablePager />*@
    </PagerContent>

</MudTable>

<div class="d-flex flex-wrap mt-4">

    <MudSwitch @bind-Checked="@hover" Color="Color.Primary">Hover</MudSwitch>
    <MudSwitch @bind-Checked="@dense" Color="Color.Secondary">Dense</MudSwitch>
    <MudSwitch @bind-Checked="@striped" Color="Color.Tertiary">Striped</MudSwitch>
    <MudSwitch @bind-Checked="@bordered" Color="Color.Warning">Bordered</MudSwitch>

</div>

@code {
    private bool dense = false;
    private bool hover = true;
    private bool striped = false;
    private bool bordered = false;

    private string searchString = string.Empty;


    private IEnumerable<ApplicationUser> ApplicationUsers = new List<ApplicationUser>();

    protected override async Task OnInitializedAsync()
    {
        ApplicationUsers = await _managerService.GetAllManagers();
    }

    
}
