@page "/"
@page "/home"
@page "/index"

@if (user is not null)
{
    
    <MudSpacer />
    
    <MudText Typo="Typo.h2" Class="mt-5">@user.Identity.Name</MudText>
    <div class="m-2 p-2">
        <MudText Typo="Typo.h2">Is Authenticated: @user.Identity.IsAuthenticated</MudText>
    </div>
    <div class="m-2 p-2">
        <MudText Typo="Typo.h2">Authentication Type: @user.Identity.AuthenticationType</MudText>
    </div>
    <div class="m-2 p-2">
       <MudText Typo="Typo.h2">Admin Role: @user.IsInRole("Admin")</MudText>
    </div>
    <div class="m-2 p-2">
        <MudText Typo="Typo.h5">Claims</MudText>
        @foreach (var claim in user.Claims)
        {
            <span>
                @claim.Type
            </span>
            <span>:</span>
            <span>
                @claim.Value
            </span>
            <br />
        }
    </div>
}
else
{
    <div class="m-2 p-2">
        No User Exists
    </div>
}

@code {
    [CascadingParameter] public Task<AuthenticationState> AuthTask { get; set; }

    private System.Security.Claims.ClaimsPrincipal user;

    protected async override Task OnInitializedAsync()
    {
        var authState = await AuthTask;
        this.user = authState.User;
    }
}