@page "/weapon/onehandsword"
@using ManagementSite.Client.Pages.CommonDb.Itemlist.Weapon.OneHandSword.Modal

@attribute [Authorize]

<MudTable Items="@WeaponOneHandSwords" Dense="@dense" Hover="@hover" Bordered="@bordered" Striped="@striped">

    <ToolBarContent>
        <MudText Typo="Typo.h6"> List</MudText>
        <MudSpacer />
        <MudButton Variant="Variant.Filled" Color="Color.Secondary" @onclick="CreateDialog">
            Create Item
        </MudButton>
    </ToolBarContent>

    <HeaderContent>
        <MudTh>OneHandSwordId</MudTh>
        <MudTh>Image</MudTh>
        <MudTh>Name</MudTh>
        <MudTh>Damage - Small Monster</MudTh>
        <MudTh>Damage - Big Monster</MudTh>
        <MudTh>Class</MudTh>
        <MudTh>Description</MudTh>
        <MudTh>Options</MudTh>
    </HeaderContent>

    <RowTemplate>
        <MudTd DataLabel="Id">@context?.OneHandSwordId</MudTd>
        <MudTd DataLabel="Image">
            <img src="@context.Image" style="width:100px;height:100px;" />
        </MudTd>
        <MudTd DataLabel="Name"> @context.Name </MudTd>
        <MudTd DataLabel="Damage1">@context.Damage1</MudTd>
        <MudTd DataLabel="Damage2">@context.Damage2</MudTd>
        <MudTd DataLabel="Class">@context.Class</MudTd>
        <MudTd DataLabel="Description">@context.Description</MudTd>
        <MudTd DataLabel="Options">

            <MudButton ButtonType="ButtonType.Submit" Color="Color.Warning" Variant="Variant.Filled"
                       OnClick="@(()=>EditDialog(context.OneHandSwordId, context.Image, context.Name, context.Class, 
                                                 context.Damage1, context.Damage2, context.Description))">
                Edit Item
            </MudButton>

            <MudButton ButtonType="ButtonType.Submit" Color="Color.Error" Variant="Variant.Filled"
                       OnClick="@(()=>DeleteDialog(context.OneHandSwordId, context.Name, context.Image))">
                Delete Item
            </MudButton>

        </MudTd>
    </RowTemplate>

    <PagerContent>
        <MudTablePager PageSizeOptions="pageSizeOptions" />
    </PagerContent>

</MudTable>

<div class="d-flex flex-wrap mt-4">
    <MudSwitch @bind-Checked="@hover" Color="Color.Primary">Hover</MudSwitch>
    <MudSwitch @bind-Checked="@dense" Color="Color.Secondary">Dense</MudSwitch>
    <MudSwitch @bind-Checked="@striped" Color="Color.Tertiary">Striped</MudSwitch>
    <MudSwitch @bind-Checked="@bordered" Color="Color.Warning">Bordered</MudSwitch>
    <MudSpacer />
</div>

@code {
    private bool dense = false;
    private bool hover = true;
    private bool striped = false;
    private bool bordered = false;

    private int[] pageSizeOptions = new int[] { 5, 10, 15, 50, 100 };

    private IEnumerable<OneHandSword> WeaponOneHandSwords = new List<OneHandSword>();

    protected override async Task OnInitializedAsync()
    {
        await LoadData();
    }

    private async Task LoadData()
    {
        WeaponOneHandSwords = await _getItemHttpService.GetOneHandSword();
    }

    private async Task CreateDialog()
    {
        var parameters = new DialogParameters();
        parameters.Add("model", new OneHandSword());

        var options = new DialogOptions { DisableBackdropClick = true };
        var dialog = _dialogService.Show<CreateOHSModal>("Create an One Hand Sword", parameters, options);

        // wait modal to close
        var result = await dialog.Result;

        var notCancelled = !result.Cancelled;
        if (notCancelled is true && result.Data != null)
        {
            OneHandSword oneHandSwordInfo = result.Data as OneHandSword;
            await _createItemHttpService.CreateOneHandSword(oneHandSwordInfo);

            _navigationManager.NavigateTo("/weapon/onehandsword", true);
        }

    }

    private async Task DeleteDialog(int itemId, string itemName, string itemImage)
    {
        var parameters = new DialogParameters();
        parameters.Add("itemId", itemId);
        parameters.Add("itemName", itemName);
        parameters.Add("itemImage", itemImage);

        var options = new DialogOptions { DisableBackdropClick = false };
        var dialog = _dialogService.Show<DeleteOHSModal>("Delete an One Hand Sword", parameters, options);

        var result = await dialog.Result;

        var notCancelled = !result.Cancelled;
        if (notCancelled is true && result.Data != null)
        {
            OneHandSword oneHandSwordInfo = result.Data as OneHandSword;
            await _deleteItemHttpService.DeleteOneHandSword(itemId);

            _navigationManager.NavigateTo("/weapon/onehandsword", true);
        }
    }


    private async Task EditDialog(int itemId, string itemImage, string itemName, string itemClass,
                                  int itemDamage1, int itemDamage2, string itemDesc)
    {
        var parameters = new DialogParameters();
        parameters.Add("itemId", itemId);
        parameters.Add("itemImage", itemImage);
        parameters.Add("itemName", itemName);
        parameters.Add("itemClass", itemClass);
        parameters.Add("itemDamage1", itemDamage1);
        parameters.Add("itemDamage2", itemDamage2);
        parameters.Add("itemDesc", itemDesc);

        var options = new DialogOptions { DisableBackdropClick = false };
        var dialog = _dialogService.Show<EditOHSModal>("Edit an One Hand Sword", parameters, options);

        var result = await dialog.Result;

        var notCancelled = !result.Cancelled;
        if (notCancelled is true && result.Data != null)
        {
            OneHandSword oneHandSwordInfo = result.Data as OneHandSword;
            await _updateItemHttpService.UpdateOneHandSword(oneHandSwordInfo);

            _navigationManager.NavigateTo("/weapon/onehandsword", true);
        }

    }

}