<MudCard Class="ChangeCustomerItem">
    <MudForm Model="@GuardModel">
        <MudCardContent>
            <MudSelect Label="Guard" Class="buttonWidthStyle" @bind-Value="GuardModel.GuardId" For="@(()=>GuardModel.GuardId)">
                @foreach (var guard in Guards)
                {
                    <MudSelectItem Value="@guard.GuardId">@guard.Name</MudSelectItem>
                }
            </MudSelect>
        </MudCardContent>
        <div class="buttonCentre">
            <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary"
                       @onclick="@(()=>OnSelect(GuardModel))">
                Update
            </MudButton>
        </div>
    </MudForm>
</MudCard>

@code {
    [Parameter]
    public IEnumerable<Guard> Guards { get; set; } = new List<Guard>();

    [CascadingParameter]
    public string UserId { get; set; }

    private Guard GuardModel { get; set; } = new Guard();

    private async Task OnSelect(Guard guard)
    {
        ArrayList userInfo = new ArrayList();

        userInfo.Add(guard.GuardId);
        userInfo.Add(this.UserId);
        userInfo.Add("Guard");
        await _updateItemHttpService.UpdateCustomerEquipment(userInfo);

        StateHasChanged();
    }



}
