@page "/eqp/armor"
@using ManagementSite.Client.Pages.CommonDb.Itemlist.Equipment.Armor.Modal
@attribute [Authorize(Roles = "SuperAdministrator")]

<MudTable Items="@EqpArmor" Dense="@dense" Hover="@hover" Bordered="@bordered" Striped="@striped">

    <ToolBarContent>
        <MudText Typo="Typo.h6">Armor List</MudText>
        <MudSpacer />
        <MudButton Variant="Variant.Filled" Color="Color.Secondary" @onclick="CreateDialog">
            Create Item
        </MudButton>
    </ToolBarContent>

    <HeaderContent>
        <MudTh>ArmorId</MudTh>
        <MudTh>Image</MudTh>
        <MudTh>Name</MudTh>
        <MudTh>AC</MudTh>
        <MudTh>Class</MudTh>
        <MudTh>Description</MudTh>
        <MudTh>Options</MudTh>
    </HeaderContent>

    <RowTemplate>
        <MudTd DataLabel="Id">@context.ArmorId</MudTd>
        <MudTd DataLabel="Image">
        <img src="@context.Image" style="width:100px;height:100px;" />
        </MudTd>
        <MudTd DataLabel="Name"> @context.Name </MudTd>
        <MudTd DataLabel="AC">@context.AC</MudTd>
        <MudTd DataLabel="Class">@context.Class</MudTd>
        <MudTd DataLabel="Description">@context.Description</MudTd>
        <MudTd DataLabel="Options">

            <MudButton ButtonType="ButtonType.Submit" Color="Color.Warning" Variant="Variant.Filled"
                       OnClick="@(()=>EditDialog(context.ArmorId, context.Name, context.Image,
                                                 context.Class, context.AC, context.Description))">
                Edit Item
            </MudButton>

            <MudButton ButtonType="ButtonType.Submit" Color="Color.Error" Variant="Variant.Filled"
                       OnClick="@(()=>DeleteDialog(context.ArmorId, context.Name, context.Image))">
                Delete Item
            </MudButton>

        </MudTd>
    </RowTemplate>

    <PagerContent>
        <MudTablePager PageSizeOptions="pageSizeOptions" />
    </PagerContent>

</MudTable>

<div class="d-flex flex-wrap mt-4">
    <MudSwitch @bind-Checked="@hover" Color="Color.Primary">Hover</MudSwitch>
    <MudSwitch @bind-Checked="@dense" Color="Color.Secondary">Dense</MudSwitch>
    <MudSwitch @bind-Checked="@striped" Color="Color.Tertiary">Striped</MudSwitch>
    <MudSwitch @bind-Checked="@bordered" Color="Color.Warning">Bordered</MudSwitch>
    <MudSpacer />
</div>

@code {
    private bool dense = false;
    private bool hover = true;
    private bool striped = false;
    private bool bordered = false;

    private int[] pageSizeOptions = new int[] { 5, 10, 15, 50, 100 };

    private IEnumerable<Armor> EqpArmor = new List<Armor>();

    protected override async Task OnInitializedAsync()
    {
        await LoadData();
    }

    private async Task LoadData()
    {
        EqpArmor = await _getItemHttpService.GetArmor();
    }

    private async Task CreateDialog()
    {
        var parameters = new DialogParameters();
        parameters.Add("model", new Armor());

        var options = new DialogOptions { DisableBackdropClick = true };
        var dialog = _dialogService.Show<CreateArmorModal>("Create an Armor", parameters, options);

        // wait modal to close
        var result = await dialog.Result;

        var notCancelled = !result.Cancelled;
        if (notCancelled is true && result.Data is not null)
        {
            Armor armorInfo = result.Data as Armor;

            await _createItemHttpService.CreateArmor(armorInfo);

            _navigationManager.NavigateTo("/eqp/armor", true);
        }

    }

    private async Task DeleteDialog(int itemId, string itemName, string itemImage)
    {
        var parameters = new DialogParameters();
        parameters.Add("itemId", itemId);
        parameters.Add("itemName", itemName);
        parameters.Add("itemImage", itemImage);

        var options = new DialogOptions { DisableBackdropClick = false };
        var dialog = _dialogService.Show<DeleteArmorModal>("Delete an Armor", parameters, options);

        var result = await dialog.Result;

        var notCancelled = !result.Cancelled;
        if (notCancelled is true && result.Data is not null)
        {
            Armor armorInfo = result.Data as Armor;

            await _deleteItemHttpService.DeleteArmor(itemId);

            _navigationManager.NavigateTo("/eqp/armor", true);
        }
    }


    private async Task EditDialog(int itemId, string itemName, string itemImage, string itemClass,
                                  int itemAc, string itemDesc)
    {
        var parameters = new DialogParameters();
        parameters.Add("itemId", itemId);
        parameters.Add("itemName", itemName);
        parameters.Add("itemImage", itemImage);
        parameters.Add("itemClass", itemClass);
        parameters.Add("itemAc", itemAc);
        parameters.Add("itemDesc", itemDesc);

        var options = new DialogOptions { DisableBackdropClick = false };
        var dialog = _dialogService.Show<EditArmorModal>("Edit an Armor", parameters, options);

        var result = await dialog.Result;

        var notCancelled = !result.Cancelled;
        if (notCancelled is true && result.Data is not null)
        {
            Armor armorInfo = result.Data as Armor;

            await _updateItemHttpService.UpdateArmor(armorInfo);

            _navigationManager.NavigateTo("/eqp/armor", true);
        }

    }

}