@page "/customerlist"
@attribute [Authorize(Roles = "SuperAdministrator, ServerAdministrator")]

<MudTable Items="@CustomerUserList" Dense="@dense" Hover="@hover" Bordered="@bordered" Striped="@striped" @ref="table">

    <ToolBarContent>
        <MudText Typo="Typo.h6">CustomerList</MudText>
        <MudSpacer />
        <MudTextField @bind-Value="searchString" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
    </ToolBarContent>

    <HeaderContent>
        <MudTh>UserName</MudTh>
        <MudTh>Email_Address</MudTh>
        <MudTh>MobileNumber</MudTh>
        <MudTh>Gender</MudTh>
        <MudTh>Country</MudTh>
        <MudTh>MemberSince</MudTh>
        <MudTh>Customer In Game Info</MudTh>
    </HeaderContent>

    <RowTemplate>
        <MudTd DataLabel="UserName">@context.UserName</MudTd>
        <MudTd DataLabel="Email_Address">@context.EmailAddress</MudTd>
        <MudTd DataLabel="MobileNumber">@context.MobileNumber</MudTd>
        <MudTd DataLabel="Gender">
            @if(context.Gender==1)
            {
                @Man
            }
            else
            {
                @Female
            }
        </MudTd>
        <MudTd DataLabel="Country">@context.Country</MudTd>
        <MudTd DataLabel="MemberSince">@context.MemberSince</MudTd>
        <MudTd DataLabel="Info">

            <MudButton ButtonType="ButtonType.Submit" Color="Color.Primary" Variant="Variant.Filled" 
                       OnClick="()=>CustomerInGameInfo(context.ID)">
                Customer In Game Info
            </MudButton>

        </MudTd>
    </RowTemplate>

   <PagerContent>
        <MudTablePager PageSizeOptions="pageSizeOptions"></MudTablePager>
    </PagerContent>

</MudTable>

<div class="d-flex flex-wrap mt-4">
    <MudSwitch @bind-Checked="@hover" Color="Color.Primary">Hover</MudSwitch>
    <MudSwitch @bind-Checked="@dense" Color="Color.Secondary">Dense</MudSwitch>
    <MudSwitch @bind-Checked="@striped" Color="Color.Tertiary">Striped</MudSwitch>
    <MudSwitch @bind-Checked="@bordered" Color="Color.Warning">Bordered</MudSwitch>
    <MudSpacer />
</div>

@code {
    private bool dense = false;
    private bool hover = true;
    private bool striped = true;
    private bool bordered = false;

    private string Man = "Man";
    private string Female = "Female";

    private string searchString { get; set; } = string.Empty;
    private string ErrorMsg { get; set; } = string.Empty;
    private bool ShowErrorMsg = false;

    private int[] pageSizeOptions = new int[] { 5, 10, 15, 50, 100 };

    private MudTable<CustomersViewModel> table;

    private IEnumerable<CustomersViewModel> CustomerUserList = new List<CustomersViewModel>();
    private CustomersViewModel Customer { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await LoadData();
    }

    private async Task LoadData()
    {
        Customer = new CustomersViewModel();
        CustomerUserList = await _customersService.GetAllCustomers();
        table.SetRowsPerPage(10);
    }

    private void CustomerInGameInfo(string userId)
    {
        if(userId==null)
        {
            ErrorMsg = "Error!!";
            ShowErrorMsg = true;
        }
        else
        {
            _navigationManager.NavigateTo($"/customeringameinfo/{userId}");
        }
    }

    

}
