@using CommonDatabase.Models.Weapons
@model IEnumerable<TwoHandSword>

<div style="height:300px">
    <h4>양손 검</h4>
    <hr />
    <div class="float-right">
        <img src="https://assets.playnccdn.com/gamedata/powerbook/lineage/35/19/fb558c38930dd7e297634155.jpg" />
    </div>
    <p class="text-left">
        양손검은 한손검보다 대미지는 높지만 방패를 착용하지 못해 AC가 떨어진다는 약점을 가지고 있다. <br />
        하지만 양손 무기를 착용한 상태에서도 쓸 수 있는 방어구인 가더가 등장하면서 가더 + 양손검의 조합이 큰 인기를 끌고 있다. <br />
        특히 기사는 쇼크 스턴이나 카운터 배리어 같이 PVP에 많이 사용되는 기술들은 대부분 양손검을 착용했을 때만 시전할 수 있다는 특징을 가지고 있다.<br />
    </p>
</div>

<h4 class="mt-5">Two Hand Sword</h4>
<hr />

<table class="table table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Class</th>
            <th>Damage-Samll Monster</th>
            <th>Damage-Big Monster</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
           <tr>
                <th>@item.TwoHandSwordId</th>
                <th class="text-center table-active">
                    <img src="@item.Image" style="width:65px; height:65px;" /> 
                    <br /> @item.Name 
                </th>
                <th>@item.Damage1</th>
                <th>@item.Damage2</th>
                <th>@item.Class</th>
                <th>@item.Description</th>
            </tr>
        }
    </tbody>
</table>
