@page "/changepassword"
@attribute [Authorize]

<h3>ChangePassword</h3>

@if (ShowErrors is true)
{
    <div class="alert alert-danger" role="alert">
        <p>@Errors</p>
    </div>
}

<EditForm Model="model" OnValidSubmit="OnValidSubmit">
    <FluentValidationValidator />
    <ValidationSummary></ValidationSummary>
    <input type="hidden" name="CurrentUserName" value="@model.Email" />
    
    <MudTextField Label="Old Password" InputType="InputType.Password" HelperText="Enter Current Password" Class="mt-3" @bind-Value="model.OldPassword"
                  For="@(()=>model.OldPassword)" />
    <ValidationMessage For="@(()=>model.OldPassword)" />

    <MudTextField Label="New Password" InputType="InputType.Password" HelperText="Choose a strong password" Class="mt-3" @bind-Value="model.NewPassword"
                  For="@(()=>model.NewPassword)" />
    <ValidationMessage For="@(()=>model.NewPassword)" />

    <MudTextField Label="Confirm New Password" InputType="InputType.Password" HelperText="Re-Enter New Password Again" Class="mt-3" @bind-Value="model.ConfirmNewPassword"
                  For="@(()=>model.ConfirmNewPassword)" />
    <ValidationMessage For="@(()=>model.ConfirmNewPassword)" />

    <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto">
        Confirm
    </MudButton>

</EditForm>


@code {
    private ChangePasswordViewModel model;

    private bool ShowErrors { get; set; } = false;
    private string Errors { get; set; } = string.Empty;
    public string CurrentUserName { get; set; } = string.Empty;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        model = new ChangePasswordViewModel();
    }

    protected override async Task OnParametersSetAsync()
    {
        await GetCurrentUserName();
        await base.OnParametersSetAsync();
    }

    private async Task OnValidSubmit()
    {
        model.Email = await GetCurrentUserName();
        var result = await _accountHttpService.ChangePassword(model);
        if (result.Successful is false)
        {
            Errors = "Please Re-check your Old PassWord or New PassWord";
            ShowErrors = true;
        }
        else
        {
            _navigationManager.NavigateTo("/");
        }
    }

    private async Task<string> GetCurrentUserName()
    {
        var authState = await _authenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User.Identity;
        if (user.IsAuthenticated)
        {
            return CurrentUserName = user.Name;
        }
        else
        {
            return Errors = "User is NOT Authenticated!!";
        }
    }


}
